{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'users/css/logins.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'personality_analysis/images/favicon.ico' %}">
</head>
<body>
    <div class="back">
        <img class="logs" src="{% static 'personality_analysis/images/amea2.svg'%}" alt="logo">
    </div>
    <div class="container">
        <!--/////////-->
        <div class="image">
            <img class="img" src="{% static 'personality_analysis/images/logo (1).svg'%}" alt="logo">
        </div>
        <!----------------->
        {% if message %}
        <div class="notice">
                <h4>If you have not created an account, please create one.</h4>
        </div>
             {% endif %}
        <div class="inputs">
                <form method="POST">
                {% csrf_token %}
                <div class="content-text">
                    <div class="lable">
                        Username<span style="color: red;">*</span>
                    </div>
                    <input type="text" class="text" name="username" placeholder="Username">
                </div>
                <div class="content-pass">
                    <div class="lable">
                        Password<span style="color: red;">*</span>
                    </div>
                    <input type="password" class="pass" name="password" placeholder="Password">
                </div>
                <div class="content-submit">
                    <button class="submit" type="submit" >Login</button>  
                </div>
                  
            </form>
        </div>
        <!-- ////// -->
        <div class="sign">
            <a href="{% url 'signup' %}"><h3>Create an account</h3></a>
        </div>    
    </div>
</body>
</html>