{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registrations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/css/signup.css'%}">
        <link rel="icon" type="image/x-icon" href="{% static 'personality_analysis/images/favicon.ico' %}">
    </head>
    <body>
      <div class="container">
        <div class="image">
          <img class="img" src="{% static 'personality_analysis/images/logo (1).svg'%}" alt="logo">
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="user">
              <div class="label">
                <label for="username">Username<span style="color: red;">*</span></label>
              </div>
            <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="pass">
              <div class="label">
                <label for="password1">Password<span style="color: red;">*</span></label>
              </div>
            <input type="password" name="password1" id="password1" placeholder="Password"  required>
            </div>
           <div class="advice">
            
             <ul>
              The password should:
              <hr>
                <li>Have at least 8 characters</li>
                <li>Contains both uppercase and lowercase letters</li>
                <li>Include at least one number</li>
                <li>Have at least one special character (e.g., @, #, $)</li>
                <hr>
            </ul>
           </div>
           <div class="confirm-pass">
            <div class="label">
              <label for="password2">Confirme Password<span style="color: red;">*</span></label>
            </div>
            <input type="password" name="password2" id="password2" placeholder="Confirme Password" required>
           </div>
           <div class="submit">
              <button type="submit">Submit</button>
           </div>
        </form>
      </div>
    </body>
</html>
