<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    This is the Dashboard of Great Sage
    <ul>
        <li><a href="{% url 'text'%}">Text Analysis</a></li><br>
        <li><a href="{% url 'handwriting'%}">Handwriting Analysis</a></li><br>
        <li><a href="{% url 'conversation'%}">Conversations</a></li><br>
        <li><a href="{% url 'logouts'%}">Logout</a></li><br>
    </ul>
</body>
</html>