{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Text Analysis</title>
    <link rel="stylesheet" href="{% static 'personality_analysis/css/text_analysis.css'%}">
    <link rel="stylesheet" href="{% static 'personality_analysis/css/nav.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'personality_analysis/images/favicon.ico' %}">
   
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <div class="nlogo"><img src="{% static 'personality_analysis/images/logo (1).svg' %}" alt="logo"></div>
        <ul class="nav-links">
            <li><a href="{% url 'text'%}">Text Analysis</a></li>
            <li><a href="{% url 'conversation'%}">Conversation Bot</a></li>
            <li><a  href="{% url 'logouts'%}"> <div class="red-bot">Logout</div></a>
        </ul>
    </nav>
    <div class="container">
        <!-- Left Logo -->
        <div class="logo left-logo">
          <img src="{% static 'personality_analysis/images/path3.svg'%}" alt="Left Logo">
        </div>
    
        <form  method="post">
        {% csrf_token %}
        <div class="text-area">
        <textarea name="text" id="text" placeholder="Write your the Essay to be Analysed here"></textarea>
        <input class="submit" type="submit" value="Submit">
        </div>
        </form>

        <div class="logo right-logo">
        <img src="{% static 'personality_analysis/images/path4.svg'%}" alt="Right Logo">
        </div>
  </div>
</body>

</html>