
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.071);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
.nlogo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: red;
}

